

@media (max-width: 675px) {
    .duckCard {
      width: 75%;
      margin-left: 12.5%;
      margin-right: 12.5%;
      margin-bottom: 2%;
      background-color: white;
      color: black;
    }

  }

  @media (min-width: 675px) {
  .duckCard {
    width: 18%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: .5%;
    background-color: white;
    display: inline-block;
    color: black
  }
  }
  .card-body {
    background-color: white;
  }