

@media (max-width: 675px) {
    .duckCard {
      width: 75%;
      margin-left: 12.5%;
      margin-right: 12.5%;
      margin-bottom: 2%;
      background-color: white;
      color: black;
    }

  }

  @media (min-width: 675px) {
  .duckCard {
    width: 18%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: .5%;
    background-color: white;
    display: inline-block;
    color: black
  }
  }
  .card-body {
    background-color: white;
  }


/* CARD STYLING */

@media (min-width: 577px) {
  .cardA {
    width: 20%;
    display: inline-block;
    margin-left: 9%;
    margin-right: 3%;
  }

  .cardR {
    width: 38%;
    display: inline-block;
    margin-left: 3%;
    margin-right: 9%;
  }
}

@media (max-width: 576px) {
  .cardA {
    width: 20%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .cardR {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
}


/* give cards a border, set color styling */
.card {
border-radius: 3%;
border-color: #2C2F36;
background-color: #e3e0d8;

}

