.graph {
    width: 50%;
    display: inline-block;
}
/* 
#year-bar {
    width: 50%;
    display: inline-block;
}

#year-bar-cumulative {
    width: 50%;
    display: inline-block;
}

#owner-bar {
    width: 50%;
    display: inline-block;
}

#weight-bar {
    width: 50%;
    display: inline-block;
}

#weight-bar-cumulative {
    width: 50%;
    display: inline-block;
} */

#table {
    align-content: center;
    text-align: center;
}

DataTable {
    align-content: center;
}

.kpi {
    display: inline-block;
    width: 28%;
    margin-left:2%;
    margin-right: 2%;
    text-align: center;
}

.title {
    text-align: center;
    background-color: skyblue;
}

.kpi-container {
    float: center;
}