.graph {
    width: 50%;
    display: inline-block;
}

#table {
    align-content: center;
    text-align: center;
}

DataTable {
    align-content: center;
}

.kpi {
    display: inline-block;
    width: 18%;
    margin-left:1%;
    margin-right: 1%;
    text-align: center;
}

.title {
    text-align: center;
    background-color: skyblue;
    padding-bottom: 5px;
}

.kpi-container {
    float: center;
    margin-top: 15px;
    margin-bottom: 15px;
}