.graph1 {
    width: 33%;
    display: inline-block;
}

.graph2 {
    width: 25%;
    display: inline-block;
    /* border-bottom: 2px solid; */
    /* background-size: 20px; */
    /* border-image: url('ducks/png/duck2.png') 28 / 28px / 0 round;
    border-width: 5px;
    border-style: solid;
    border-image-repeat: stretch; */
}

#table {
    align-content: center;
    text-align: center;
}

DataTable {
    align-content: center;
}

.kpi {
    display: inline-block;
    width: 18%;
    margin-left:1%;
    margin-right: 1%;
    text-align: center;
}

.title {
    text-align: center;
    background-color: skyblue;
    padding-bottom: 5px;
}

.kpi-container {
    float: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: lightgray;
    border-top: 3px solid black;
}

.map {
    width: 30%;
    display: inline-block;
}