/* .graph1 {
    width: 33%;
    display: inline-block;
}

.graph2 {
    width: 50%;
    display: inline-block;
}

.graph-container {
    background-color: #ebcc34;
}

.graph-container2 {
    background-color: #f0e246;
}

.graph-container3 {
    background-color: #ebdf63;
}



#table {
    align-content: center;
    text-align: center;
}

DataTable {
    align-content: center;
}

.kpi {
    display: inline-block;
    width: 18%;
    margin-left:1%;
    margin-right: 1%;
    text-align: center;
}

.title {
    text-align: center;
    background-color: skyblue;
    padding-bottom: 5px;
}

.kpi-container {
    float: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: lightgray;
    border-top: 3px solid black;
}

.map {
    width: 47%;
    display: inline-block;
}

.title1 {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    padding-top: 10px;
}

.split-container-left {
    display: inline-block;
    width: 50%;
    background-color: #f0e246;
}

.split-container-right {
    display: inline-block;
    width: 50%;
    background-color: #f0ed69;
} */