#height-scatter {
    width: 50%;
    display: inline-block;
}

#year-bar {
    width: 50%;
    display: inline-block;
}

#year-bar-cumulative {
    width: 50%;
    display: inline-block;
}

#owner-bar {
    width: 50%;
    display: inline-block;
}

#weight-bar {
    width: 50%;
    display: inline-block;
}

#weight-bar-cumulative {
    width: 50%;
    display: inline-block;
}

#table {
    /* width:80%; */
    align-content: center;
    text-align: center;
}

DataTable {
    align-content: center;
}

.kpi {
    display: inline-block;
    width: 30%;
    margin-left: 20px;
    margin-right: 20px;
}